[Desktop Entry]
Version=1.0
Type=Application
Name=Unmount VHDX
Comment=Unmount VHDX virtual disk files
Icon=vhdx-mount
Exec=/usr/local/bin/unmount-vhdx.sh %f
Terminal=false
MimeType=application/x-vhdx;application/vnd.ms-vhdx;application/x-vhdx-disk;
Categories=System;FileTools;
Keywords=vhdx;unmount;disk;virtual;
NoDisplay=false
