[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-vhdx;
Actions=mount-vhdx-rw;mount-vhdx-ro;unmount-vhdx;

[Desktop Action mount-vhdx-rw]
Name=Mount VHDX (Read-Write)
Icon=vhdx-mount
Exec=/usr/local/bin/mount-vhdx-rw.sh %f

[Desktop Action mount-vhdx-ro]
Name=Mount VHDX (Read-Only)
Icon=vhdx-mount
Exec=/usr/local/bin/mount-vhdx-ro.sh %f

[Desktop Action unmount-vhdx]
Name=Unmount VHDX
Icon=vhdx-mount
Exec=/usr/local/bin/unmount-vhdx.sh %f
